@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&family=Raleway:wght@300;400;500;700&family=Roboto:wght@300;400;500;700&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    transition: all 400ms ease 0s;
    font-weight: 500;
    font-family: 'Comfortaa', 'Roboto', sans-serif;
}

body {
    background-color: rgb(247, 242, 242);
    
}

body.active {
    background-color: #000;
}

body.active .content__grid-item,
body.active .header__menu-container {
    background-color: rgba(131, 131, 131, 0.144);
    box-shadow: rgba(0, 0, 0, 0.1);
    color: rgb(179, 179, 179);
}

body.active .header__contact-container {
    color: rgb(179, 179, 179);
}

body.active .header__logo-text {
    mix-blend-mode: multiply;
    color: #fff;
    background-color: #000;
}

.dragItem-active {
    opacity: 0.4;
}

li {
    list-style-type: none;
    display: inline-block;
}

a {
    text-decoration: none;
    color: #000;
}

.content {
    margin-bottom: 50px;
}

.body__wrapper {
    position: relative;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 30px 70px;
}

.container__info {
    display: flex;
    flex-direction: row;
}

.container__map {
    margin-right: 30px;
}

.container__detail {
    font-size: 13px;
    display: flex;
    flex-direction: column;
}

.container__detail a,
.container__detail h3 {
    margin-bottom: 10px;
}

.container__detail h3 {
    font-weight: 700;
}

.container__phone {
    margin-bottom: 20px;
}

.container__map img {
    width: 250px;
    border-radius: 25px;
    border: solid 1px #444;
}

.header__contact-container{
    font-size: 18px;
    text-align: center;
    cursor: pointer;
}

.header__logo{
    background: url('./Components/img/gradient-pic.jpeg') right / cover no-repeat;
    opacity: 0.9;
    max-width: 150px;
    text-align: center;
    margin: 0 auto;
}

.header__logo-text {
    background-color: rgb(247, 242, 242);
    mix-blend-mode: lighten;
    font-size: 42px;
    font-weight: 700;
}

.header__logo-container{
    text-align: center;
}

.header__menu-container{
    font-size: 14px;
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    padding: 10px 15px;
    align-items: center;
    transform: translateX(0px);
    transition: color .3s ease;
}
.header__menu-item {
    margin-right: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.header__menu-item:hover {
    background-color: rgb(202, 202, 202);
    border-radius: 20px;
}

.header__menu-item:last-child {
    margin-right: 0;
}

.header__menu-item.active {
    background-color: #fff;
    border-radius: 30px;
    padding: 10px 15px;
}

.content{
    margin: 0 auto 50px auto; 
    max-width: 1200px;
    padding-top: 50px;
}

.content__grid-item {
    display: block;
    width: 200px;
    height: 200px;
}

.grid-body {
    margin: 0 auto;
    min-height: 100%;
    min-width: none;
}

.content__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 15px;
    max-width: 1100px;
    margin: 0 auto;
    min-height: 100%;
}
.content__flex-item:first-child {
    margin-bottom: 20px;
}

.content__flex-picture {
    background-image: url('./Components/img/like-me.jpeg');
    background-size: cover;
    width: 150px;
    height: 150px;
    border-radius: 20px;
}

.content__grid-item {
    background-color: #fff;
    border-radius: 30px;
    background: rgb(255, 255, 255);
    box-shadow: transparent 0px 0px 0px 2px inset;
    height: 100%;
    width: 100%;
    transition: all 500ms ease 0s;
    will-change: transform;
}

.social-media {
    font-size: 42px;
    color: #fff;
    margin: auto auto;
}

.content__text-intro{
    font-size: 15px;
    line-height: 24px;
}

.content__text-name {
    font-size: 48px;
    font-weight: 400;
    font-family: 'Comfortaa';
}

.intro-box{
    padding: 30px;
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 3;
}

.intro-box__img-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.map-box{
    grid-column-start: 3;
    grid-column-end: 3;
    background: url('./Components/img/map.png') center / cover no-repeat;
}

.map-box::after {
    content: "";
    background: url('./Components/img/smile-me.png') no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 30%;
    left: 35%;
}

.map-box:hover::after,
.container__map:hover::after {
  transform: scale(1.5);
}

.new-project,
.translation-box{
    width: 100%;
    height: 100%;
}

.translation-box {
    background: url('./Components/img/bg-picture.svg') top / cover no-repeat;
    position: relative;
    overflow: hidden;
    grid-row-start: span 2;
    z-index: 1;
}

.content__visit-block {
    z-index: 4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 4%;
    left: 10%;
    background-color: #fff;
    border-radius: 12px;
    font-size: 14px;
    padding: 7px 8px;
}

.content__visit-block:hover {
    background-color: #e2e2e2;
}

.content__visit {
    margin-right: 6px;
}

.content__visit-block img {
    width: 18px;
    height: 18px;
}

.modal__flexbox {
    display: flex;
    flex-direction: row;
}

.modal__flexbox > img {
    width: 230px;
    height: auto;
    border-radius: 25px;
}

.modal__about-me p {
    margin-bottom: 15px;
}

.modal__about-me h3 {
    margin-bottom: 20px;
    font-weight: 700;
}

.modal__picture-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 25px;
}

.modal__social-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.modal__link img {
    width: 40px;
    height: 40px;
}

.modal__picture-me {
    margin-bottom: 25px;
}

.modal__picture-me > img {
    width: 150px;
    height: 150px;
    border-radius: 25px;
}

.translation-box::after {
    background: url('./Components/img/homerun-2.png') no-repeat 0 0;
    background-size: contain;
    width: 350px;
    height: 650px;
    position: absolute;
    top: 20%;
    left: 15%;
    transform: rotate(337deg);
    z-index: 2;
    content: "";
}

.translation-box:hover::before {
    background-color: rgb(202, 202, 202);
}

.translation-box:hover::after {
    transform: rotate(341deg) scale(1.1);
}

.work-box:hover::after {
  transform: scale(1.1);
  transform: rotate(337deg);
}

.blue-box {
    background: rgb(152, 208, 255);
    padding: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

.text-3xl {
    font-size: 70px;
}

.text-3xl:hover {
    transform: scale(1.2);
}

.switch-box{
    grid-column-start: 1;
    grid-column-end: 3;
}
.more-button {
    background-color: #fff;
    border: 2px rgb(231, 231, 231) solid;
    border-radius: 30px;
    padding: 7px 15px;
    cursor: pointer;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.25px;
    color: rgb(13, 17, 23);
    font-family: 'Comfortaa', 'Roboto', sans-serif;
}

.more-button:hover {
    background-color: #e2e2e2;
}

.mobile {
    display: none;
}

.work-box{
    background: url('./Components/img/bg-picture-2.svg') top / cover no-repeat;
    position: relative;
    overflow: hidden;
    grid-row-start: span 2;
}

.work-box::after {
  background-size: contain;
  width: 500px;
  height: 300px;
  position: absolute;
  top: 20%;
  left: -45%;
  transform: rotate(337deg);
  z-index: 2;
  content: "";
}

.new-project:hover::after {
    transform: scale(0.7);
    transform: rotate(337deg);
    top: 0;
  }

.social {
    grid-column-start: 3;
    grid-column-end: 5;
}

.another-project,
.new-project {
    grid-column-start: 1;
    grid-column-end: 3;
    
}

.interesting.gridelement {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 4;
}

.interesting {
    display: flex;
    justify-content: center;
    align-items: center;
}

#toggle {
    background: linear-gradient(to bottom, rgb(255, 244, 196), rgb(252, 204, 93));
    box-shadow: inset 0 2px 60px rgba(49, 49, 102, 0.1),
                inset 0 2px 8px rgba(0, 0, 0, 0.1),
                inset 0 -4px 8px rgba(0, 0, 0, 0.05);
    z-index: 1;
    position: relative;
    display: block;
    width: 140px;
    height: 80px;
    border-radius: 160px;
    transition: 0.5s;
}

#toggle .indicator {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transform: scale(0.9);
    cursor: pointer;
    transition: 0.5s;
    background-color: #fff;
    box-shadow: inset 0 2px 60px rgba(0, 0, 0, 0.1),
                inset 0 2px 8px rgba(0, 0, 0, 0.1),
                inset 0 -4px 8px rgba(0, 0, 0, 0.05);
}

#toggle.active .indicator {
    right: -80px;
    background: linear-gradient(to bottom, #444, #222);
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5),
                inset 0 4px 4px rgba(255, 255, 255, 0.2),
                inset 0 -4px 4px rgba(255, 255, 255, 0.2);
}

#toggle.active {
    background: linear-gradient(to bottom, rgb(54, 66, 138), rgb(99, 72, 160));
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5),
                inset 0 4px 4px rgba(255, 255, 255, 0.2),
                inset 0 -4px 4px rgba(255, 255, 255, 0.2);
}

.work-box.gridelement {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.work-box-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.text-block,
.work-box-2 {
    padding: 40px;
}

.work-box-2 {
    background-color: #6dd2b7af;
}

.new-project {
    background: url('./Components/img/wrap-bg.svg') top / cover no-repeat;
    position: relative;
    overflow: hidden;
}

.new-project img {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 0%;
    left: 15%;
    transform: rotate(337deg);
}

.gridelement {
    align-items: center;
}

.content__grid-item {
    float: left;
    position: relative;
}

@media screen and (max-width:1300px) {

    .content {
        margin: 0 auto 40px auto;
        max-width: 80%;
    }

    .content__grid {
        max-width: 800px;
        transition: all 0.3s ease 0.2s;
        grid-gap: 15px;
        margin: 0 auto;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }

    .contact {
        font-size: 17px;
    }
    
    .modal__picture-me > img {
        width: 150px;
        height: 150px;
    }

    .modal__about-me p,
    .modal__social-container p {
        margin-bottom: 10px;
        font-size: 13px;
    }

    .more-button,
    .header__menu-item,
    .content__text-intro {
        font-size: 12px;
    }

    .content__flex-picture {
        width: 120px;
        height: 120px;
    }

    .intro-box {
        grid-column-start: 1;
        grid-column-end: 3;
        
    }

    .map-box {
        grid-row-start: 1;
        grid-column-start: 3;
        grid-column-end: 5;
    }

    .map-box::after {
        left: 40%;
    }

    .translation-box {
        grid-column-start: span 2;
        grid-row-start: span 1;
    }

    .translation-box::after {
        width: 350px;
        height: 650px;
        top: 0%;
        left: 20%;
    }

    .text-block {
        grid-column-start: span 2;
    }

    .blue-box {
        grid-column-start: span 2;
        grid-row-start: 3;
    }

    .social {
        grid-row-start: 5;
    }

    .work-box {
        grid-column-start: span 2;
        grid-row-start: span 2;
    }

    .work-box-2 {
        grid-row-start: 5;
        grid-column: span 4;
    }

    .block {
        grid-row-start: 4;
        grid-column: span 2;
    }

    .new-project {
        grid-column-start: 1;
        grid-column-end: 5;
    }

    .new-project::after {
        top: 30%;
        left: 20%;
    }
}

@media screen and (max-width:1200px) {
    .container__info {
        display: flex;
        flex-direction: column;
    }

    .container__map {
        margin: 0;
    }

    .container__detail {
        margin-top: 30px;
    }

    .container {
        align-items: center;
    }
}

@media screen and (max-width:976px) {
    .content {
        margin: 0 auto 40px auto;
        max-width: 75%;
    }

    .content__grid {
        transition: all 0.3s ease 0.2s;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-gap: 15px;
    }

    .content__grid-item {
        max-height: 350px;
        overflow: hidden;
    }

    .content__grid-item:nth-child(6) {
        max-height: none;
    }

    .more-button {
        padding: 6px;
    }

    .content__flex-picture {
        width: 100px;
        height: 100px;
    }

    .content__text-name {
        font-size: 35px;
    }

    .map-box::after {
        left: 38%;
    }
}

@media screen and (max-width:800px) {
    .content__grid-item {
        max-height: 300px;
        overflow: hidden;
    }

    .content__grid-item:nth-child(2) {
        padding: 0;
    }

    .content__grid-item:nth-child(6) {
        max-height: none;
    }

    .content__text-intro{
        font-size: 12px;
        line-height: 20px;
    }
    
    .content__text-name {
        font-size: 36px;
        font-weight: 400;
        font-family: 'Comfortaa';
    }

    .translation-box::after {
        width: 300px;
        height: 600px;
        top: 0%;
        left: 25%;
    }


    .new-project::after {
        top: 0%;
        left: 0%;
    }

    .content__flex-picture {
        width: 100px;
        height: 100px;
    }

    .more-button {
        padding: 6px;
        font-size: 11px;
    }

    .map-box::after {
        top: 26%;
        left: 37%;
    }
}

@media screen and (max-width:720px) {

    .header {
        flex-direction: column;
        margin: 20px auto 0;
    }

    .header__logo-container,
    .header__menu-container {
        margin-bottom: 10px;
    }

    .header__menu-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    
    .content {
        margin: 0 auto 40px auto;
        max-width: 65%;
    }
    .content__grid {
        transition: all 0.3s ease 0.2s;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(13, 1fr);
        grid-gap: 15px;
    }

    .more-button {
        padding: 7px;
        font-size: 12px;
    }

    .content__flex-picture {
        width: 100px;
        height: 100px;
    }

    .translation-box::after {
        width: 350px;
        height: 650px;
        top: 0%;
        left: 30%;
    }

    .intro-box {
        justify-content: space-around;
    }

    .intro-box,
    .map-box,
    .translation-box,
    .text-block,
    .new-project,
    .work-box,
    .new-project,
    .work-box-2{
        grid-column: span 2;
        grid-row: span 2;
    } 

    .blue-box {
        grid-row-start: 7;
        grid-column-start: 1;
    }

    .block {
        grid-row-start: 7;
        grid-column-start: 2;
    }
    
    #toggle .indicator {
        position: absolute;
        width: 60px;
        height: 60px;
    }

    #toggle {
        width: 100px;
        height: 60px;
    }

    .map-box{
        background: url('./Components/img/map.png') center / cover no-repeat;
        background-size: cover;
    }

    .map-box::after {
        top: 22%;
        left: 42%;
    }
}

@media screen and (max-width:560px) {
    .map-box::after {
        left: 40%;
    }
}

@media screen and (max-width:520px) {
    .modal__flexbox {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .modal__picture-me {
        align-self: center;
    }

    .modal__picture-container {
        margin-bottom: 40px;
    }

    .map-box::after {
        top: 24%;
        left: 38%;
    }

    .container__headline {
        font-size: 24px;
    }
}

@media screen and (max-width:435px) {

    .content {
        max-width: 80%;
    }

    .content__grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, 1fr);
    }

    .intro-box,
    .map-box,
    .translation-box,
    .text-block,
    .new-project,
    .work-box,
    .new-project,
    .work-box-2,
    .block,
    .blue-box{
        grid-column: span 1;
        grid-row: span 1;
    } 

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .translation-box::after {
        width: 300px;
        height: 600px;
        top: 0%;
        left: 30%;
    }

    .map-box::after {
        top: 28%;
        left: 37%;
    }
}

